.main{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background: radial-gradient(circle at top left, rgba(1,84,123,1) 50%, rgb(32, 46, 63) 100%); */
}

.line{
    background: linear-gradient(rgb(23, 37, 84), transparent);
}